*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
header h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
}

section {
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px 0;
    background-color: rgb(22, 19, 19);
    color: #fff;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 22px;
}

header nav li a{
    color: #fff;
    text-decoration: none;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
    font-size: 22px;
}

section .images {
    margin-right: 24px;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.articles article{
    margin-bottom: 16px;
}
.articles article h3{
    margin-top: 16px;
    margin-bottom: 8px;
}

.articles article{
    width: 30%;
}

.articles article img {
    width: 100%;
}

.social-links img{
    height: 40px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}
.social-links li a{
    align-items: last baseline
}

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

.contact-methods h3{
    font-size: 45px;
}

form input,
textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 28px;
}

form button{
    background-color: rgb(22, 19, 19);
    color: #fff;
    border: none;
    cursor: pointer;
}

form button :hover{
    background-color: rgb(83, 72, 72);
}

input:focus, textarea:focus{
    outline-color: rgb(83, 72, 72);
}

form textarea{
    resize: none;
    height: 100px;
}

footer {
    background-color:  rgb(22, 19, 19);
    color: #fff;
    padding: 16px 0;
}